#main-div{
    display: flex;
    flex-direction: column;
    background-color: grey;
    align-items: center;
    height: 100vh;
    background-size: 100%;
    padding-top: 20vh;
}

.input-container{
    display: flex;
    flex-direction: column;

}

.input{
    margin: 20px;
    background-color: black;
    color:white;
    border: black;
    border-radius: 15px;
    padding: 7px;
    font-family: 'fugaz one';
}

@media(max-width: 900px){
    #main-div{
        padding-top: 20vh;
    }
    .button-container{
        display: flex;
        flex-direction: column;
    }
    .input{
        width: 60vw
    }
}



